[Desktop Entry]
Version=1.0
Type=Application
Name=Granola
Comment=AI Notepad for meetings
Exec=granola %U
Icon=granola
Terminal=false
Categories=Office;
Keywords=meetings;notes;transcript;notepad;
StartupNotify=true
StartupWMClass=granola
MimeType=x-scheme-handler/granola;
